USE [master]
GO



CREATE DATABASE [SingUrSong_vnew]
GO 




USE SingUrSong_vnew
GO

CREATE TABLE [dbo].[ChiTietDichVu](
	[maHoaDon] [nchar](15) NOT NULL,
	[maDichVu] [nchar](15) NOT NULL,
	[soLuong] [int] NULL,
	[maPhong] [varchar](16) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 12/12/2023 11:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[maHoaDon] [nchar](15) NOT NULL,
	[maPhong] [nchar](16) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maHoaDon] ASC,
	[maPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 12/12/2023 11:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVu](
	[maDichVu] [nchar](15) NOT NULL,
	[tenDichVu] [nvarchar](40) NULL,
	[donViTinh] [nvarchar](12) NULL,
	[donGia] [float] NULL,
	[trangThai] [bit] NULL,
	[maThongTinDichVu] [nchar](16) NULL,
PRIMARY KEY CLUSTERED 
(
	[maDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 12/12/2023 11:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[maHoaDon] [nchar](15) NOT NULL,
	[maKhachHang] [nchar](16) NULL,
	[maNhanVien] [nchar](16) NULL,
	[maPhieuDat] [nchar](15) NULL,
	[maKhuyenMai] [nchar](16) NULL,
	[ngayLap] [datetime] NULL,
	[trangThai] [nvarchar](40) NULL,
	[thoiGianKetThuc] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[maHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 12/12/2023 11:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[maKhachHang] [nchar](16) NOT NULL,
	[hoTen] [nvarchar](40) NULL,
	[gioiTinh] [bit] NULL,
	[ngaySinh] [date] NULL,
	[diaChi] [nvarchar](40) NULL,
	[soDienThoai] [nvarchar](10) NULL,
	[diemThuong] [int] NULL,
	[ghiChu] [nvarchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[maKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 12/12/2023 11:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[maKhuyenMai] [nchar](16) NOT NULL,
	[tenKhuyenMai] [nvarchar](40) NULL,
	[maGiamGia] [nvarchar](16) NULL,
	[ngayBatDau] [datetime] NULL,
	[ngayKetThuc] [datetime] NULL,
	[tongSoLuong] [int] NULL,
	[chieuKhau] [float] NULL,
	[moTa] [nvarchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[maKhuyenMai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiNhanVien]    Script Date: 12/12/2023 11:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiNhanVien](
	[maLoaiNhanVien] [nchar](16) NOT NULL,
	[tenLoaiNhanVien] [nvarchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[maLoaiNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiPhong]    Script Date: 12/12/2023 11:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiPhong](
	[maLoaiPhong] [nchar](16) NOT NULL,
	[tenLoaiPhong] [nvarchar](40) NULL,
	[soLuongKhachToiDa] [int] NULL,
	[giaTien] [float] NULL,
	[hinhAnh] [nchar](255) NULL,
	[moTa] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[maLoaiPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 12/12/2023 11:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[maNhanVien] [nchar](16) NOT NULL,
	[maLoaiNhanVien] [nchar](16) NULL,
	[hoTen] [nvarchar](40) NULL,
	[gioiTinh] [bit] NULL,
	[ngaySinh] [date] NULL,
	[soDienThoai] [nvarchar](10) NULL,
	[CCCD] [nvarchar](12) NULL,
	[diaChi] [nvarchar](40) NULL,
	[trangThai] [nvarchar](40) NULL,
	[anhThe] [nchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[maNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuDatPhong]    Script Date: 12/12/2023 11:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuDatPhong](
	[maPhieuDat] [nchar](15) NOT NULL,
	[maPhong] [nchar](16) NULL,
	[maNhanVien] [nchar](16) NULL,
	[maKhachHang] [nchar](16) NULL,
	[thoiGianDatPhong] [datetime] NULL,
	[thoiGianNhanPhong] [datetime] NULL,
	[tienCoc] [float] NULL,
	[trangThai] [nvarchar](40) NULL,
	[moTa] [nvarchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[maPhieuDat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 12/12/2023 11:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[maPhong] [nchar](16) NOT NULL,
	[tenPhong] [nvarchar](40) NULL,
	[maLoaiPhong] [nchar](16) NULL,
	[maTrangThai] [nchar](16) NULL,
	[ngayTaoPhong] [date] NULL,
	[viTriPhong] [nchar](8) NULL,
	[ghiChu] [nvarchar](100) NULL,
	[tinhTrangPhong] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[maPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 12/12/2023 11:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[maNhanVien] [nchar](16) NOT NULL,
	[tenDangNhap] [nchar](16) NULL,
	[matKhau] [nchar](40) NOT NULL,
	[trangThai] [bit] NOT NULL,
	[email] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[maNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongTinDichVu]    Script Date: 12/12/2023 11:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinDichVu](
	[maThongTinDichVu] [nchar](16) NOT NULL,
	[soLuong] [int] NULL,
	[soLuongDaSuDung] [int] NULL,
	[ngayNhap] [datetime] NULL,
	[ngayHetHan] [datetime] NULL,
	[moTa] [nvarchar](40) NULL,
	[hinhAnh] [nchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[maThongTinDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrangThaiPhong]    Script Date: 12/12/2023 11:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrangThaiPhong](
	[maTrangThai] [nchar](16) NOT NULL,
	[tenTrangThai] [nvarchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[maTrangThai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]


GO
INSERT [dbo].[ChiTietDichVu] ([maHoaDon], [maDichVu], [soLuong], [maPhong]) VALUES (N'HD03122023C001 ', N'DV261020230001 ', 5, N'P101            ')
INSERT [dbo].[ChiTietDichVu] ([maHoaDon], [maDichVu], [soLuong], [maPhong]) VALUES (N'HD03122023C003 ', N'DV261020230009 ', 1, N'P101            ')
INSERT [dbo].[ChiTietDichVu] ([maHoaDon], [maDichVu], [soLuong], [maPhong]) VALUES (N'HD03122023C003 ', N'DV271020230015 ', 1, N'P101            ')
GO
INSERT [dbo].[ChiTietHoaDon] ([maHoaDon], [maPhong]) VALUES (N'HD03122023C001 ', N'P101            ')
INSERT [dbo].[ChiTietHoaDon] ([maHoaDon], [maPhong]) VALUES (N'HD03122023C002 ', N'P101            ')
INSERT [dbo].[ChiTietHoaDon] ([maHoaDon], [maPhong]) VALUES (N'HD03122023C003 ', N'P101            ')
GO
INSERT [dbo].[DichVu] ([maDichVu], [tenDichVu], [donViTinh], [donGia], [trangThai], [maThongTinDichVu]) VALUES (N'DV261020230001 ', N'Bia', N'VND', 20000, 1, N'TTDV261020230001')
INSERT [dbo].[DichVu] ([maDichVu], [tenDichVu], [donViTinh], [donGia], [trangThai], [maThongTinDichVu]) VALUES (N'DV261020230002 ', N'Đậu phộng rang', N'VND', 10000, 1, N'TTDV261020230002')
INSERT [dbo].[DichVu] ([maDichVu], [tenDichVu], [donViTinh], [donGia], [trangThai], [maThongTinDichVu]) VALUES (N'DV261020230003 ', N'Bánh mì', N'VND', 15000, 1, N'TTDV261020230003')
GO
INSERT [dbo].[HoaDon] ([maHoaDon], [maKhachHang], [maNhanVien], [maPhieuDat], [maKhuyenMai], [ngayLap], [trangThai], [thoiGianKetThuc]) VALUES (N'HD03122023C001 ', N'KH56920001      ', N'NV56920002      ', NULL, NULL, CAST(N'2023-12-03T17:20:36.763' AS DateTime), N'Đã thanh toán', CAST(N'2023-12-03T17:21:04.847' AS DateTime))
INSERT [dbo].[HoaDon] ([maHoaDon], [maKhachHang], [maNhanVien], [maPhieuDat], [maKhuyenMai], [ngayLap], [trangThai], [thoiGianKetThuc]) VALUES (N'HD03122023C002 ', N'KH56920001      ', N'NV56920002      ', NULL, NULL, CAST(N'2023-12-03T18:13:38.053' AS DateTime), N'Đã thanh toán', CAST(N'2023-12-03T18:13:57.007' AS DateTime))
INSERT [dbo].[HoaDon] ([maHoaDon], [maKhachHang], [maNhanVien], [maPhieuDat], [maKhuyenMai], [ngayLap], [trangThai], [thoiGianKetThuc]) VALUES (N'HD03122023C003 ', N'KH56920001      ', N'NV56920002      ', NULL, NULL, CAST(N'2023-12-03T19:49:51.510' AS DateTime), N'Đã hủy', NULL)
GO
INSERT [dbo].[KhachHang] ([maKhachHang], [hoTen], [gioiTinh], [ngaySinh], [diaChi], [soDienThoai], [diemThuong], [ghiChu]) VALUES (N'KH42560001      ', N'Nguyễn Thiên Tứ', 1, CAST(N'2003-01-02' AS Date), N'Gò Vấp, TP.HCM', N'0935014256', 0, N'SV IUH')
INSERT [dbo].[KhachHang] ([maKhachHang], [hoTen], [gioiTinh], [ngaySinh], [diaChi], [soDienThoai], [diemThuong], [ghiChu]) VALUES (N'KH56920001      ', N'Lê Minh Quang', 1, CAST(N'2003-02-19' AS Date), N'Gò Vấp, TP.HCM', N'0364835692', 0, N'SV Ngoại Thương')
INSERT [dbo].[KhachHang] ([maKhachHang], [hoTen], [gioiTinh], [ngaySinh], [diaChi], [soDienThoai], [diemThuong], [ghiChu]) VALUES (N'KH56960001      ', N'Nguyen Le', 1, CAST(N'2003-12-05' AS Date), N'Gò Vấp', N'0364835696', 0, N'Hay ghé thăm')
GO
INSERT [dbo].[KhuyenMai] ([maKhuyenMai], [tenKhuyenMai], [maGiamGia], [ngayBatDau], [ngayKetThuc], [tongSoLuong], [chieuKhau], [moTa]) VALUES (N'10122023001     ', N'Giảm giá 20/10', N'GIAMGIA2010', CAST(N'2023-10-22T00:00:00.000' AS DateTime), CAST(N'2023-11-22T00:00:00.000' AS DateTime), 100, 10, N'Nothing')
INSERT [dbo].[KhuyenMai] ([maKhuyenMai], [tenKhuyenMai], [maGiamGia], [ngayBatDau], [ngayKetThuc], [tongSoLuong], [chieuKhau], [moTa]) VALUES (N'10122023002     ', N'Giảm giá 21/11', N'GIAMGIA2111', CAST(N'2023-11-20T00:00:00.000' AS DateTime), CAST(N'2023-11-22T00:00:00.000' AS DateTime), 50, 10, N'Nothing')
GO
INSERT [dbo].[LoaiNhanVien] ([maLoaiNhanVien], [tenLoaiNhanVien]) VALUES (N'LNV000          ', N'Quản lý')
INSERT [dbo].[LoaiNhanVien] ([maLoaiNhanVien], [tenLoaiNhanVien]) VALUES (N'LNV001          ', N'Nhân viên thu ngân')
INSERT [dbo].[LoaiNhanVien] ([maLoaiNhanVien], [tenLoaiNhanVien]) VALUES (N'LNV002          ', N'Nhân viên tiếp tân')
GO
INSERT [dbo].[LoaiPhong] ([maLoaiPhong], [tenLoaiPhong], [soLuongKhachToiDa], [giaTien], [hinhAnh], [moTa]) VALUES (N'ORD1            ', N'Loại phòng thường 5 người', 5, 70000, N'phongTHUONG1.jpg                                                                                                                                                                                                                                               ', N'Loại phòng giá rẻ, phù hợp cho sinh viên IUH
tuyệt vời')
INSERT [dbo].[LoaiPhong] ([maLoaiPhong], [tenLoaiPhong], [soLuongKhachToiDa], [giaTien], [hinhAnh], [moTa]) VALUES (N'ORD2            ', N'Loại phòng thường 12 người', 12, 100000, N'phongTHUONG2.jpg                                                                                                                                                                                                                                               ', N'Phòng cho 12 người sử dụng')
INSERT [dbo].[LoaiPhong] ([maLoaiPhong], [tenLoaiPhong], [soLuongKhachToiDa], [giaTien], [hinhAnh], [moTa]) VALUES (N'VIP1            ', N'Loại phòng vip 5 người', 5, 150000, N'phongVIP1.jpg                                                                                                                                                                                                                                                  ', N'Phòng cho 5 người sử dụng')
GO
INSERT [dbo].[NhanVien] ([maNhanVien], [maLoaiNhanVien], [hoTen], [gioiTinh], [ngaySinh], [soDienThoai], [CCCD], [diaChi], [trangThai], [anhThe]) VALUES (N'NV42560001      ', N'LNV001          ', N'Nguyễn Thiên Tứ', 1, CAST(N'2003-11-12' AS Date), N'0935014256', N'054203126452', N'Thủ Đức, Hồ Chí Minh', N'Đang làm', N'tuzoro.jpg                                                                                          ')
INSERT [dbo].[NhanVien] ([maNhanVien], [maLoaiNhanVien], [hoTen], [gioiTinh], [ngaySinh], [soDienThoai], [CCCD], [diaChi], [trangThai], [anhThe]) VALUES (N'NV56910001      ', N'LNV001          ', N'Lê Long', 1, CAST(N'2003-12-09' AS Date), N'0364835691', N'054203330981', N'đig', N'Đang làm', N'noImage.jpg                                                                                         ')
INSERT [dbo].[NhanVien] ([maNhanVien], [maLoaiNhanVien], [hoTen], [gioiTinh], [ngaySinh], [soDienThoai], [CCCD], [diaChi], [trangThai], [anhThe]) VALUES (N'NV56920001      ', N'LNV001          ', N'Lê Minh Quang', 1, CAST(N'2003-01-01' AS Date), N'0364835692', N'054203030983', N'Gò Vấp, Hồ Chí Minh', N'Đang làm', N'quangnami.jfif                                                                                      ')
GO
INSERT [dbo].[PhieuDatPhong] ([maPhieuDat], [maPhong], [maNhanVien], [maKhachHang], [thoiGianDatPhong], [thoiGianNhanPhong], [tienCoc], [trangThai], [moTa]) VALUES (N'PD08122023B001 ', N'P202            ', N'NV56920002      ', N'KH56920001      ', CAST(N'2023-12-08T16:43:05.577' AS DateTime), CAST(N'2023-12-24T00:00:00.000' AS DateTime), 40000, N'Đã hủy', N'')
INSERT [dbo].[PhieuDatPhong] ([maPhieuDat], [maPhong], [maNhanVien], [maKhachHang], [thoiGianDatPhong], [thoiGianNhanPhong], [tienCoc], [trangThai], [moTa]) VALUES (N'PD08122023B002 ', N'P201            ', N'NV56920002      ', N'KH61890001      ', CAST(N'2023-12-08T16:52:38.500' AS DateTime), CAST(N'2023-12-08T16:59:00.000' AS DateTime), 40000, N'Đã nhận phòng', N'')
INSERT [dbo].[PhieuDatPhong] ([maPhieuDat], [maPhong], [maNhanVien], [maKhachHang], [thoiGianDatPhong], [thoiGianNhanPhong], [tienCoc], [trangThai], [moTa]) VALUES (N'PD09122023D001 ', N'P201            ', N'NV56920002      ', N'KH56920001      ', CAST(N'2023-12-09T01:49:08.887' AS DateTime), CAST(N'2023-12-09T02:00:00.000' AS DateTime), 40000, N'Hết hạn', N'abc')
GO
INSERT [dbo].[Phong] ([maPhong], [tenPhong], [maLoaiPhong], [maTrangThai], [ngayTaoPhong], [viTriPhong], [ghiChu], [tinhTrangPhong]) VALUES (N'P101            ', N'P101', N'VIP1            ', N'VC              ', CAST(N'2023-10-30' AS Date), N'Lầu 1   ', N'Không có ghi chú', N'Đang hoạt động')
INSERT [dbo].[Phong] ([maPhong], [tenPhong], [maLoaiPhong], [maTrangThai], [ngayTaoPhong], [viTriPhong], [ghiChu], [tinhTrangPhong]) VALUES (N'P102            ', N'P102', N'VIP2            ', N'VC              ', CAST(N'2023-10-30' AS Date), N'Lầu 1   ', N'Không có ghi chú', N'Không sử dụng')
INSERT [dbo].[Phong] ([maPhong], [tenPhong], [maLoaiPhong], [maTrangThai], [ngayTaoPhong], [viTriPhong], [ghiChu], [tinhTrangPhong]) VALUES (N'P103            ', N'P103', N'ORD1            ', N'VC              ', CAST(N'2023-10-30' AS Date), N'Lầu 1   ', N'Không có ghi chú', N'Đang hoạt động')
GO
INSERT [dbo].[TaiKhoan] ([maNhanVien], [tenDangNhap], [matKhau], [trangThai], [email]) VALUES (N'NV42560001      ', N'NV42560001      ', N'12345678                                ', 1, N'nguyenthientu413@gmail.com')
INSERT [dbo].[TaiKhoan] ([maNhanVien], [tenDangNhap], [matKhau], [trangThai], [email]) VALUES (N'NV56910001      ', N'NV56910001      ', N'12345678                                ', 1, NULL)
INSERT [dbo].[TaiKhoan] ([maNhanVien], [tenDangNhap], [matKhau], [trangThai], [email]) VALUES (N'NV56920001      ', N'NV56920001      ', N'12345678                                ', 1, N'quang82thcspb@gmail.com')
GO
INSERT [dbo].[ThongTinDichVu] ([maThongTinDichVu], [soLuong], [soLuongDaSuDung], [ngayNhap], [ngayHetHan], [moTa], [hinhAnh]) VALUES (N'TTDV261020230001', 232, 32, CAST(N'2023-10-26T00:00:00.000' AS DateTime), CAST(N'2024-11-26T00:00:00.000' AS DateTime), N'Bia ngon lắm nha', N'21.jpg                                                                                                                                                                                                                                                         ')
INSERT [dbo].[ThongTinDichVu] ([maThongTinDichVu], [soLuong], [soLuongDaSuDung], [ngayNhap], [ngayHetHan], [moTa], [hinhAnh]) VALUES (N'TTDV261020230002', 227, 27, CAST(N'2023-10-26T00:00:00.000' AS DateTime), CAST(N'2024-11-26T00:00:00.000' AS DateTime), N'Không có mô tả', N'dau-phong-ngam-nuoc-mam-toi-ot.jpg                                                                                                                                                                                                                             ')
INSERT [dbo].[ThongTinDichVu] ([maThongTinDichVu], [soLuong], [soLuongDaSuDung], [ngayNhap], [ngayHetHan], [moTa], [hinhAnh]) VALUES (N'TTDV261020230003', 500, 16, CAST(N'2023-10-26T00:00:00.000' AS DateTime), CAST(N'2024-11-26T00:00:00.000' AS DateTime), N'Không có mô tả', N'6.jpg                                                                                                                                                                                                                                                          ')
GO
INSERT [dbo].[TrangThaiPhong] ([maTrangThai], [tenTrangThai]) VALUES (N'OC              ', N'Đang sử dụng')
INSERT [dbo].[TrangThaiPhong] ([maTrangThai], [tenTrangThai]) VALUES (N'OCP             ', N'Đã đặt')
INSERT [dbo].[TrangThaiPhong] ([maTrangThai], [tenTrangThai]) VALUES (N'OOO             ', N'Không phục vụ')
GO
ALTER TABLE [dbo].[ChiTietDichVu]  WITH CHECK ADD  CONSTRAINT [F_ChiTietDichVu_DichVu] FOREIGN KEY([maDichVu])
REFERENCES [dbo].[DichVu] ([maDichVu])
GO
ALTER TABLE [dbo].[ChiTietDichVu] CHECK CONSTRAINT [F_ChiTietDichVu_DichVu]
GO
ALTER TABLE [dbo].[ChiTietDichVu]  WITH CHECK ADD  CONSTRAINT [F_ChiTietDichVu_HoaDon] FOREIGN KEY([maHoaDon])
REFERENCES [dbo].[HoaDon] ([maHoaDon])
GO
ALTER TABLE [dbo].[ChiTietDichVu] CHECK CONSTRAINT [F_ChiTietDichVu_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [F_ChiTietHoaDon_HoaDon] FOREIGN KEY([maHoaDon])
REFERENCES [dbo].[HoaDon] ([maHoaDon])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [F_ChiTietHoaDon_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [fk_CTHD_P] FOREIGN KEY([maPhong])
REFERENCES [dbo].[Phong] ([maPhong])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [fk_CTHD_P]
GO
ALTER TABLE [dbo].[DichVu]  WITH CHECK ADD  CONSTRAINT [fk_maThongTinDichVu] FOREIGN KEY([maThongTinDichVu])
REFERENCES [dbo].[ThongTinDichVu] ([maThongTinDichVu])
GO
ALTER TABLE [dbo].[DichVu] CHECK CONSTRAINT [fk_maThongTinDichVu]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [F_HoaDon_KhachHang] FOREIGN KEY([maKhachHang])
REFERENCES [dbo].[KhachHang] ([maKhachHang])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [F_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [F_HoaDon_KhuyenMai] FOREIGN KEY([maKhuyenMai])
REFERENCES [dbo].[KhuyenMai] ([maKhuyenMai])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [F_HoaDon_KhuyenMai]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [F_HoaDon_NhanVien] FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[NhanVien] ([maNhanVien])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [F_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [F_HoaDon_PhieuDat] FOREIGN KEY([maPhieuDat])
REFERENCES [dbo].[PhieuDatPhong] ([maPhieuDat])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [F_HoaDon_PhieuDat]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [F_NhanVien_LoaiNhanVien] FOREIGN KEY([maLoaiNhanVien])
REFERENCES [dbo].[LoaiNhanVien] ([maLoaiNhanVien])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [F_NhanVien_LoaiNhanVien]
GO
ALTER TABLE [dbo].[PhieuDatPhong]  WITH CHECK ADD  CONSTRAINT [F_PhieuDatPhong_KhachHang] FOREIGN KEY([maKhachHang])
REFERENCES [dbo].[KhachHang] ([maKhachHang])
GO
ALTER TABLE [dbo].[PhieuDatPhong] CHECK CONSTRAINT [F_PhieuDatPhong_KhachHang]
GO
ALTER TABLE [dbo].[PhieuDatPhong]  WITH CHECK ADD  CONSTRAINT [F_PhieuDatPhong_NhanVien] FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[NhanVien] ([maNhanVien])
GO
ALTER TABLE [dbo].[PhieuDatPhong] CHECK CONSTRAINT [F_PhieuDatPhong_NhanVien]
GO
ALTER TABLE [dbo].[PhieuDatPhong]  WITH CHECK ADD  CONSTRAINT [F_PhieuDatPhong_Phong] FOREIGN KEY([maPhong])
REFERENCES [dbo].[Phong] ([maPhong])
GO
ALTER TABLE [dbo].[PhieuDatPhong] CHECK CONSTRAINT [F_PhieuDatPhong_Phong]
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [F_Phong_LoaiPhong] FOREIGN KEY([maLoaiPhong])
REFERENCES [dbo].[LoaiPhong] ([maLoaiPhong])
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [F_Phong_LoaiPhong]
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [F_Phong_TrangThaiPhong] FOREIGN KEY([maTrangThai])
REFERENCES [dbo].[TrangThaiPhong] ([maTrangThai])
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [F_Phong_TrangThaiPhong]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [F_TaiKhoan_NhanVien] FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[NhanVien] ([maNhanVien])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [F_TaiKhoan_NhanVien]
GO
/****** Object:  StoredProcedure [dbo].[XoaHetDuLieu]    Script Date: 12/12/2023 11:51:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[XoaHetDuLieu]
AS
BEGIN
    -- Xóa dữ liệu từ bảng ThongTinDichVu
    DELETE FROM ThongTinDichVu;

    -- Xóa dữ liệu từ bảng DichVu
    DELETE FROM DichVu;
END;
GO
USE [master]
GO
